{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
      "mocha": true,
      "browser": true
    },
    "rules": {
      "object-curly-spacing": [2, "always"],
      "arrow-body-style": 0,
      "indent": "off",
      "comma-dangle": 0,
      "no-trailing-spaces": 0,
      "space-before-function-paren": 0,
      "func-names": 0,
      "new-cap": 0,
      "prefer-destructuring": 0,
      "no-restricted-globals": 0,
      "max-len": [0, 500],
      "react/prefer-stateless-function": 0,
      "react/jsx-indent-props": 0,
      "react/jsx-indent": 0,
      "react/prop-types": 0,
      "react/no-multi-comp": 0,
      "react/jsx-closing-bracket-location": 0,
      "no-param-reassign": [2, {"props": false}],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "jsx-a11y/img-has-alt": "off",
      "jsx-a11y/interactive-supports-focus": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/anchor-is-valid": "off",
      "jsx-a11y/no-noninteractive-element-interactions": "off",
      "jsx-a11y/alt-text": "off",
      "jsx-a11y/label-has-for": "off",
      "linebreak-style": "off",
      "prefer-template": 0,
      "react/no-array-index-key": "off",
      "react/require-default-props": "off",
      "react/no-unused-prop-types": "off",
      "react/forbid-prop-types": "off",
      "react/no-unused-state": "off",
      "allowNamedFunctions": 0,
      "class-methods-use-this": 0,
      "import/prefer-default-export": "off",
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
